.home-right{
   margin: 0 auto;
}

.todos{
    font-size: 90px;
    color: rgba(200, 12,12, 0.15);
    display: flex;
    justify-content: center;
    
}

.todobox{
    box-shadow: 0.5px 2px 15px rgba(0,0,0,0.2);
    position: relative;
    background-color: white;

}
.topbox{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.all{
    width: 30px;
    height: 25px;
    padding: auto;
    transform: rotate(90deg);
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 30px;
    color: rgba(0,0,0,0.2);
    cursor:pointer;
}

.inputbox{
    padding-left: 50px;
    width: 400px;
    height: 60px;
    border: 0;
    font-size: 25px;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    line-height: 60px;
    position: relative;
    transition: 0.3s ease;
}
.inputbox::placeholder{
    color: rgba(0,0,0,0.1);
    font-style: italic;
}

input[type="checkbox"]{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius:50%
}

input[type="checkbox"]{
    appearance: none;
    border-radius: 50%;
    border: solid rgba(0,0,0,0.2);
    margin: 0;
    width: 27px;
    height: 27px;
}

input[type="checkbox"]:checked{
    border: rgba(20, 145, 89, 0.3) solid;
}

input[type="checkbox"]:checked::before{
    content: "\2713";
    color:  rgba(20, 145, 89, 0.3);
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

.del{
    display: none;

    width: 10px;
    height: 20px;
}

.del::before, .del::after{
    position: absolute;
    background-color: rgba(200,0,0);
    content: ' ';
    width: 3px;
    right: 20px;
    height: 20px;
    top: 20px;
}
.del::after{
    transform: rotate(-45deg);
}
.del::before{
    transform: rotate(45deg);
}

.hover::after, .hover::before{
    transition: 0.3s ease-in;
    filter: brightness(0.8);
}

.bottom{
    height: 40px;
    display: flex;
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    justify-content: space-between;
    padding: 10px 10px;
    box-sizing: border-box;
}

.middle{
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.right{
    width: 100px;
}
.right:hover{
    text-decoration: underline;
}

.middle1,.middle2,.middle3{
    box-sizing: border-box;
    padding: 2px;
}

.middle1{
    width: 23px;
    height: 20px;
    border-radius: 5px;
}

.middle2{
    width: 43px;
    height: 20px;
    border-radius: 5px;
}

.middle3{
    width: 70px;
    height: 20px;
    border-radius: 5px;
}

.middle1:hover,.middle2:hover,.middle3:hover{
    border: solid rgba(200, 12,12, 0.08);   
    
    
}



